body {
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    background-color: #fff;
    margin: 0;
    padding: 2rem;
    display: flex;
    justify-content: center;
}
.container {
    max-width: 600px;
    border: 1px solid #ccc;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
h2.subtitle {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #006EB6;
    font-size: 1rem;
    margin-top: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
}
p {
    text-align: left;
    line-height: 1.5;
}
em {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
ol {
    padding-left: 1.5rem;
    line-height: 1.6;
}
footer {
    text-align: center;
    margin-top: 2rem;
}
footer img {
    height: 150px;
}


/* Dark */
body.dark {
    background-color: #333;
    color: #fff;
}

body.dark .container {
    background-color: #171717;
    border: 1px solid #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

body.dark h2.subtitle {
    color: #007ACC;
    border-bottom: 1px solid #888;
}

body.dark p,
body.dark em,
body.dark ol {
    color: #ccc;
}

body.dark footer {
    color: #ddd;
}

body.dark footer img {
    height: 50px;
}